# EmailJS Configuration
# Obtain your Service ID and Template ID from https://dashboard.emailjs.com/
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=0SHQGN3wGUzZ9YLJb
VITE_EMAILJS_RECIPIENT=omnia.islamm@gmail.com
